$table-line-color: #b7b7b9;
$hover-bg-color: #f3f3f3;

.comment_count_wrapper {
    & {
        font-weight: lighter;
        font-size: 0.8rem;
    }

    & > img {
        vertical-align: middle;
    }
}

section {
    & {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-size: 0.8rem;

        line-height: 5;
        text-align: center;
    }

    & .board_caption {
        border-bottom: 2px solid #000;
        font-weight: bold;
    }

    & article,
    & .board_caption {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    }
}

article {
    & {
        border-bottom: 1px solid $table-line-color;
    }

    & h3 {
        font-weight: normal;
        text-align: left;
        font-size: 0.8rem;
    }

    &.notice,
    &.notice h3 {
        font-weight: bold;
    }

    & span.notice_board {
        margin-right: 1rem;
        color: $table-line-color;
    }

    &:hover {
        background-color: $hover-bg-color;
    }
}
