.article_list {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    & .article_list_pagination {
        margin-top: auto;
    }

    & .align-left {
        margin: 1rem 0 0 auto;
    }
}
