@import "~/theme.scss";

button {
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.white {
    color: $base-color;
    background-color: $base-white-color;
    border: 1px solid $base-color;
}

.grey {
    color: $base-white-color;
    background-color: $base-color;
}
