$close-color: #000000c7;

.close {
    & {
        width: 1.3rem;
        height: 1.3rem;
        opacity: 0.8;
    }
    &:before,
    &:after {
        position: absolute;
        content: " ";
        height: 1.3rem;
        width: 0.05rem;
        background-color: $close-color;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
